---
layout: layout.liquid
title: Planetary Playing Cards
---

<div class="cards">
    <div class="card big">
        <span class="planet sun"></span>
        <h1>Sun</h1>
        <h3>Type G2V</h3>
    </div>
    <div class="card small">
        <span class="planet mercury"></span>
        <h2>Mercury</h2>
        <h4>0.39 AU</h4>
    </div>
    <div class="card small">
        <span class="planet venus"></span>
        <h2>Venus</h2>
        <h4>0.72 AU</h4>
    </div>
    <div class="card small">
        <span class="planet earth"></span>
        <h2>Earth</h2>
        <h4>1 AU</h4>
    </div>
    <div class="card small">
        <span class="planet mars"></span>
        <h2>Mars</h2>
        <h4>1.52 AU</h4>
    </div>
    <div class="card small">
        <span class="planet jupiter"></span>
        <h2>Jupiter</h2>
        <h4>5.2 AU</h4>
    </div>
    <div class="card small">
        <span class="planet saturn"></span>
        <h2>Saturn</h2>
        <h4>9.54 AU</h4>
    </div>
    <div class="card small">
        <span class="planet uranus"></span>
        <h2>Uranus</h2>
        <h4>19.2 AU</h4>
    </div>
    <div class="card small">
        <span class="planet neptune"></span>
        <h2>Neptune</h2>
        <h4>30.06 AU</h4>
    </div>
</div>